{% extends "base.html" %}

{% block announce %}
    <!-- Add your announcement here, including arbitrary HTML -->
    <div style="border:3px solid red;padding:2%;">
    <b style="font-size: 20px;">Compatibility issues with revisioned Anbernic RG XX models!</b>
    <p>Please be aware that since the release of KNULLI Gladiator II, <b>Anbernic</b> has released and shipped revisioned models of some of their <b>RG XX series</b> devices. If you attempt to run KNULLI Gladiator II on a revisioned device, KNULLI will <b>simply not boot</b>.</p>
    <p>Luckily, we are aware of the problem and we are currently running a public alpha test with builds that should be compatible with the new device models.</p>
    <p>If you have problems installing KNULLI on a brand new RG XX device, either wait for the next public release of KNULLI or <a href="https://discord.gg/HXPS3DAeeB">join us on Discord</a> and type <code>!revisions</code> in the help channel to get access to the public alpha builds and help us test them.</p>
    </div>
{% endblock %}
