{% extends "base.html" %}

{% block announce %}
    <!-- Add your announcement here, including arbitrary HTML -->
    <div style="border:3px solid red;padding:2%;">
    <b style="font-size: 20px;">Do not use KNULLI Gladiator II (2025-08-13) or below with brand new RG40XX H/V devices</b>
    <p>For the <b>latest revision</b> of the <b>RG40XX series</b>, Anbernic apparently decided to go with <b>different screens</b>. Unfortunately, the screens of the new RG40XX H/V models are <b>not compatible with KNULLI, yet</b>. Any attempt to run an incompatible CFW on the new RG40XX H/V models might cause damage your screen. If you see <b>unexpected stripes</b> on your screen after flashing KNULLI, <b>turn the device off immediately</b>. We are aware of the problem and <b>we are working on a solution</b>.</p>
	<p>Since our team was not supplied with the new RG40XX H/V models, we are working closely with affected users within our community to resolve the issue. We already have a <b>promising solution in alpha testing</b>.</p>
	<p>For now, we ask you to please <b>be patient</b> - help is on the way.</p>
    </div>
{% endblock %}
