{% extends "base.html" %}

{% block announce %}
    <!-- Add your announcement here, including arbitrary HTML -->
    <div style="border:3px solid red;padding:2%;">
    <b style="font-size: 20px;">Do not use KNULLI Gladiator II (2025-08-13) or below with brand new RG40XX H/V devices</b>
    <p>For the <b>latest revision</b> of the <b>RG40XX series</b>, Anbernic apparently decided to go with <b>different screens</b>. Those screens are <b>not compatible</b> with any publicly available KNULLI build, yet.</p>
	<p>Our team has already <b>found a solution</b> for the problem. We have <b>working builds for RG40XX H/V in alpha testing</b>. If you want to try those builds, <a href="https://knulli.org/community/contribute/#become-a-supporter">consider to join our alpha testers as explained here</a>.</p>
	Be aware that any attempt to run an incompatible CFW on the new RG40XX H/V models might cause damage your screen. If you see <b>unexpected stripes</b> on your screen after flashing KNULLI, <b>turn the device off immediately</b>.
    </div>
{% endblock %}
